* {
    
}

html {
    overscroll-behavior: none;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #FEFAE0;
    
}

header a {
    float: inline-start;
    text-decoration: none;
}

a {
    font-size: 1.4rem;
}
.nav-line {
    width: 100%;
    margin: 0;
}

.topnav-right {
    float: inline-end;
}

.topnav-right a {
    margin-inline-end: 20px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FAEDCD;
    line-height: 1.6;
    margin: 0;
}

h1 {
    text-align: center;
}

.copyright-paragraph {
    margin-block: 0;
}

main {
    min-height: 85dvh;
}
footer {
    position: relative;
    margin-inline: 4%;
}